<div id=<%= dom_id(list) %> class="group flex justify-between bg-white rounded-lg py-3 px-5 mb-2" data-sortable-target="item">
  <%= link_to list_path(list) do %>
    <%= list.name %>
  <% end %>
  <%= button_to list_path(list), method: :delete, form: {data: {turbo_confirm: 'Are you sure ?'}}, class: 'hidden group-hover:block' do %>
    <i class="fa-solid fa-trash text-gray-600"></i>
  <% end %>
</div>