  <h2 class="font-bold text-2xl mb-3"><%= @list.name %> <span id="items_count" class="text-sm bg-blue-300 p-1 rounded-md"><%= @list.items.not_done.count %></span></h2>

  <%= render partial: 'items/add_item_button', locals: { list: @list } %>

  <%= turbo_frame_tag "items", src: list_items_path(@list), loading: 'lazy' do %>
    <i class="fas fa-spinner fa-spin fa-2xl"></i>
    <span>Loading items...</span>
  <% end %>