<%= form_with model: note, data: { note_target: 'editForm' } do |f| %>
  <div class="flex items-center justify-between mb-4">
    <h2 class="flex-1"><%= f.text_field :title, placeholder: "Your title", autofocus: !note.persisted?, data: {action: 'keyup->note#saveInput' }, class: 'text-2xl bg-transparent p-0 w-full border-none focus:ring-0' %></h2>
    <%= render 'shared/spinner' %>
  </div>

  <%= f.text_area :body, placeholder: "Start writing your note here...", data: {note_target: 'textArea', action: 'input->note#resizeTextArea keyup->note#saveInput' }, class: 'w-full bg-white border-none rounded-lg py-3 px-5 resize-none overflow-hidden focus:ring-0' %>
<% end %>