<div id=<%= dom_id(note) %> class="group flex justify-between bg-white rounded-lg py-3 px-5 mb-2 cursor-grab active:cursor-grabbing" data-sortable-target="item">
  <%= link_to note_path(note) do %>
    <%= note.title %>
  <% end %>
  <%= button_to note_path(note), method: :delete, form: {data: {turbo_confirm: 'Are you sure ?'}}, class: 'hidden group-hover:block' do %>
    <i class="fa-solid fa-trash text-gray-600"></i>
  <% end %>
</div>