<% if flash.any? %>
  <div class="fixed top-2 left-2/4 -translate-x-2/4 w-fit max-w-xs md:max-w-sm" data-controller="flash">
    <% flash.each do |type, msg| %>
      <div class="<%= type == 'notice' ? 'bg-green-200' : 'bg-yellow-200' %> relative flex items-center text-center py-2 px-4 rounded-lg transition-all duration-300 cursor-pointer" data-flash-target="message" data-action="click->flash#dismiss">
        <span class="flex-1"><%= msg %></span>
        <i class="fa-solid fa-circle-xmark ml-4"></i>
      </div>
    <% end %>
  </div>
<% end %>