<section class="mb-6">
  <h2 class="mb-4">My lists</h2>
  <%= turbo_frame_tag "lists", src: lists_path, loading: 'lazy', target: '_top' do %>
    <i class="fas fa-spinner fa-spin fa-2xl"></i>
    <span>Loading lists...</span>
  <% end %>
</section>

<section>
  <h2 class="mb-4">My notes</h2>
  <%= turbo_frame_tag "notes", src: notes_path, loading: 'lazy', target: '_top' do %>
    <i class="fas fa-spinner fa-spin fa-2xl"></i>
    <span>Loading lists...</span>
  <% end %>
</section>