<div>
  <h1 class="font-bold text-4xl mb-4">Easy List</h1>

  <h2 class="font-bold text-2xl mb-3">Grocery List <span id="grocery_items_count" class="text-sm bg-blue-300 p-1 rounded-md"><%= @grocery_items.needed.count %></span></h2>

  <%= render partial: 'grocery_items/form', locals: { grocery_item: GroceryItem.new } %>

  <%= turbo_frame_tag "grocery_items", src: grocery_items_path, loading: 'la zy' do %>
    <i class="fas fa-spinner fa-spin fa-2xl"></i>
    <span>Loading list...</span>
  <% end %>
</div>