<h1 class="font-bold text-4xl mb-4">Easy List</h1>

<section class="mb-3">
  <h2>My lists</h2>
  <%= turbo_frame_tag "lists", src: lists_path, loading: 'lazy', target: '_top' do %>
    <i class="fas fa-spinner fa-spin fa-2xl"></i>
    <span>Loading lists...</span>
  <% end %>
</section>

<section>
  <h2>My notes</h2>
  <%= turbo_frame_tag "notes", src: notes_path, loading: 'lazy', target: '_top' do %>
    <i class="fas fa-spinner fa-spin fa-2xl"></i>
    <span>Loading lists...</span>
  <% end %>
</section>